body{
  background-color: #fcfcfc;
  background-image: url(/images/niklas-2.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:left bottom;
  background-size: contain;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: #ffffff 1px 1px 1px;
  color: #201f2d;
}

#content{
  position: absolute;
  top: 150px;
  right: 230px;
  width: 500px;
}

h1{
  font-size: 350%;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 140%;
  margin: 0;
  padding: 0;
}

p{
  font-size: 110%;
  line-height: 150%;
}

a{
  border: none;
  color: #201f2d;
}