<!DOCTYPE html> 
<html> 
<head> 
  <title>Niklas Stephenson</title> 
  <meta charset="utf-8" /> 
  <link href="/style/design.css" media="screen" rel="stylesheet" type="text/css" />
</head> 
<body>
  <div id="content">
    <h1>Niklas Stephenson</h1>
    <h2>Co-founder and VP Product at <a href="http://www.firmafon.dk/">Firmafon</a></h2>
    <p>Young and super skilled user experience, design evangelist and serial entrepreneur. Niklas has been a consultant since he was 16, working for some of the largest corporations in Denmark. Drop out from <a href="http://hih.au.dk/uddannelser/businessdevelopmentengineer/">Institute Of Business And Technology, Århus University</a>. He co-founded <a href="http://www.firmafon.dk/">Firmafon</a>, a virtual phone system, in 2009.</p>
    <a href="http://twitter.com/nikstep"><img src="/images/twitter.png" alt="Niklas Stephenson on twitter.com" /></a>
    <a href="http://dk.linkedin.com/in/niklasstephenson"><img src="/images/linkedin.png" alt="Niklas Stephenson on linkedin.com" /></a>
    <a href="https://github.com/stephenson"><img src="/images/github.png" alt="Niklas Stephenson on github.com" /></a>
    <a href="http://facebook.com/niklas.stephenson"><img src="/images/facebook.png" alt="Niklas Stephenson on facebook.com" /></a>
    <a href="http://dribbble.com/nikstep"><img src="/images/dribbble.png" alt="Niklas Stephenson on dribbble.com" /></a>
    <a href="http://open.spotify.com/user/stephensondk"><img src="/images/spotify.png" alt="Niklas Stephenson on Spotify" /></a>
  </div>
</body> 
</html>