<!DOCTYPE html> 
<html> 
<head> 
  <title>Niklas Stephenson</title> 
  <meta charset="utf-8" /> 
  <link href="/style/design.css" media="screen" rel="stylesheet" type="text/css" />
</head> 
<body>
  <div id="content">
    <h1>Niklas Stephenson</h1>
    <h2>Co-founder and VP Product at <a href="http://www.firmafon.dk/">Firmafon</a></h2>
    <p>I love building a business around solving people’s problems with software.</p>
    <p>Working on Firmafon, speaking about startups and enjoy brainstorming new business concepts.</p>

    <p>
      You are more then welcome to contact me on niklas@stephenson.dk.
    </p>

    <a href="http://twitter.com/nikstep"><img src="/images/twitter.png" alt="Niklas Stephenson on twitter.com" /></a>
    <a href="http://dk.linkedin.com/in/niklasstephenson"><img src="/images/linkedin.png" alt="Niklas Stephenson on linkedin.com" /></a>
    <a href="https://github.com/stephenson"><img src="/images/github.png" alt="Niklas Stephenson on github.com" /></a>
    <a href="http://facebook.com/niklas.stephenson"><img src="/images/facebook.png" alt="Niklas Stephenson on facebook.com" /></a>
    <a href="http://dribbble.com/nikstep"><img src="/images/dribbble.png" alt="Niklas Stephenson on dribbble.com" /></a>
  </div>
</body> 
</html>